version: '3'

services:
  swagger:
    image: swaggerapi/swagger-ui:v3.42.0
    container_name: swagger
    ports:
      - 8081:8080
    volumes:
      - .:/tmp
    environment:
      SWAGGER_JSON: '/tmp/swagger.yaml'
      BASE_URL: '/swagger'

